.tt{
    width: 1100px;
    
}
.tt .tab01{
    
    display: none;
}
.tt .tab02{
    
    display: none;
}
.tt .tab03{
    
    display: none;
}
.tt .tab04{
    
    display: none;
}
.tt .tab05{
    
    display: none;
}
span{
    font-size: 14px;
}


.tt input + label{
    
    margin-top: -10px;
    display: inline-block;
    width: 219px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid;
    border-color: rgb(214, 214, 214) rgb(214, 214, 214) blueviolet rgb(214, 214, 214);
    margin-right: -7px;
}

.tt input:checked + label{

    border: 1px solid;
    border-color: blueviolet blueviolet white blueviolet;
}

.search{
    position: relative;
    width: 1100px;
    margin-top: 30px;
}

.search input{
    float: right;
    width: 197px;
    height: 34px;
    padding-right: 30px;
}

.search::before{

    top: 11px;
    left: 1079px;
    background-repeat: no-repeat;

    position: absolute;
    content:"";
    background-image: url("https://img.megabox.co.kr/static/pc/images/common/btn/btn-search-input.png");
    width : 20px;
    height: 20px;

}

.movie{

    width: 230px;
    height: 150px;
    margin-top: 50px;
    margin-right: 60px;
}

.movietitle{

    width: 200px;
    height: 27px;
}

.age{
    margin-top: 15px;
    width: 24px;
    height: 24px;
}
.anm{
    display: flex;
}

.anm p{
    height: 20px;
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}

.stick::before{
    content: "|";
    color: red;
    margin-left: 10px;
    margin-right: 10px;
}
.preview{
    width : 290px;
}
.btn{
    width: 290px;
    margin-top: 10px;
}

.btn1{
    width: 74px;
    height: 36px;
    border-radius: 5px;

    cursor: pointer;
}

.btn2{
    width: 74px;
    height: 36px;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}

.btn3{
    
    width: 74px;
    height: 36px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-image: url("https://megabox.co.kr/static/pc/images/common/btn/mov_list_db_btn.png");
    background-color: blueviolet;
    background-position: center; 
    cursor: pointer;

}
.movieimg{
    position: relative;
    cursor: pointer;
}

.movieimg1{
    width: 230px;
    height: 330px;
}

.movieimg:hover .movieimg1_tag{
    display: block;
}

.movieimg1_tag{
    
    width: 230px;
    height: 330px;
    position :absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.562);
    display: none;
}
.btn1:hover{
    background-color: rgba(11, 5, 17, 0.397);
}

.btn2:hover{
    background-color: rgba(105, 31, 175, 0.973);
}
.btn3:hover{
    background-color: rgba(105, 31, 175, 0.973);
}

.list{
   display: none;   
}
.f{
    display: flex;
}

.list:last-child{
    margin-right: 0;
}

input[class="tab01"]:checked ~ .frist{
    display : block;

}
input[class="tab02"]:checked ~ .second{
    display : block;

}

input[class="tab03"]:checked ~ .three{
    display : block;

}
input[class="tab04"]:checked ~ .four{
    display : block;

}
input[class="tab05"]:checked ~ .five{
    display : block;

}

