.tab_menu input{/*선택 버튼 사라지게함*/
    display: none;
}

/*인접한 형제 요소 선택자*/
/* tab_menu 클래스를 가지고 있는 태그의 자식중 input태그 바로 아래 붙은 태그*/
.tab_menu input + label{
    display: inline-block;
    padding : 10px;
    background-color: gray;
    color: white;
    font-size: 14px;

    

    /* 마우스를 올렸을 때 보여줄 커서를 설정할 수 있다.*/
    cursor: pointer;
}

/* checked 속성이 있는 input 태그의 인접태그 label 태그를 스타일을 적용시키겠다*/
.tab_menu input:checked + label{

    background : #222;
    color: bisque;

}

.box{
    width: 500px;
    height: 600px;
    background-color: #000;
    margin : 0 auto;
    display: none;

}
/* input 태그 중 클래스가 tab01이고 checked 속성이 있으면 형제요소 중
    밑에 있는 태그 중에 item1 클래스를 가지고 있는 태그 */

input[class="tab01"]:checked ~ .item1{
    display: block;
    color: white;
}

input[class="tab02"]:checked ~ .item2{
    display: block;
    color: white;
}

input[class="tab03"]:checked ~ .item3{
    display: block;
    color: white;
}

.textbox::before{
    position: absolute;
    top : 6px;
    left: 200px;

    content: "";
    background-image: url("https://img.megabox.co.kr/static/pc/images/common/btn/btn-search-input.png");

    width: 12px;
    height: 12px;
    background-size: 12px;
    background-repeat: no-repeat;
    display: block;

}

.textbox{
    position: relative;
}

.textbox input{
    padding-right: 26px;
}