@media only screen and (max-width : 1200px) {
    
    .box{
        width: 300px;
        height: 300px;
        border :5px solid red;
    }
}

@media only screen and (min-width : 1200px){


    .box{
        width: 300px;
        height: 300px;
        border :5px solid green;
        
    }
}

@media only screen and (max-width : 600px) {

    .box{
        width: 300px;
        height: 300px;
        border :5px solid blue
        
    }

}

@keyframes ani {
    0%{ /*전체 동작중 0~50% 까지의 내용*/
        transform:translate(-50%,-50%) rotate(0);
    }
    
    100%{ /*전체 동작하면서 50% ~100%까지*/
        transform:translate(-50%,-50%) rotate(360deg);
    }
}

.box{
    position: relative;
}

.box img{

    
    position: absolute;
    top  :50%;
    left :50%;

    transform: translate(-50%,-50%);
    width: 200px;
     height: 200px;

    animation: ani 2s infinite normal linear;
}